<div class="row-fluid">
  <div class="span3">
    <div class="content" id= "appliance-listing">
      <!--Sidebar content-->
    </div>
  </div>
  <div class="span9">
    <div class="content" id= "total-usage-graph">
      <!--Body content-->
    </div>
  </div>
</div>
