<%= javascript_include_tag "highstock" %>
<div class="row-fluid">
  <div class="span3">
    <%= render 'device_list' %>
  </div>
  <div class="span9">
    <div class="content" id= "usage-chart-container">
      <div id= "usage-chart"></div>
    </div>
  </div>
</div>
