<div id="create-schedule-dialog-form" title="Set power off duration">
  <br />
  <form class="form-inline">
	<fieldset>
		<label for="start-time">From</label>
		<input type="text" name="start-time" id="start-time"
               class="time ui-timepicker-input input-small" />
        &nbsp
        <label for="end-time">To</label>
		<input type="text" name="end-time" id="end-time"
               class="time ui-timepicker-input input-small" />
	</fieldset>
	</form>
</div>


