<div class="ui-widget-header ui-widget-header-text"><h5>Usage Summary</h5></div>

<div class="row-fluid">

  <div class='span12'>

    <div class="row-fluid">

      <div class="span9">
          <table id="usage-info" class="table">
             <tr>
              <td>
                <p id="avg-usage"></p>
              </td>
            </tr>
            <tr>
              <td>
                <p id="min-usage"></p>
              </td>
            </tr>
            <tr>
              <td>
                <p id="max-usage"></p>
              </td>
            </tr>
          </table>
        </div>

      <div class="span3">
        <div class="content well" id="usage-totals">
          <div><h6>This Month</h6></div>
          <div><h1 id="total-cost-month"></h1></div>
          <div><h6 id="total-kwh-month"></h6></div>
        </div>
      </div>

    </div>

  </div>

</div>