<!--<div class="row-fluid">-->
  <!--<div class="span6">-->
    <!--<div class="content" id="total-budget-container">-->
      <!--<h5>Set the total energy budget for <%= Date::MONTHNAMES[Date.today.month] %></h5>-->
      <!--<br/>-->
    <!--</div>-->
    <!--<hr>-->
    <!--<div class="content" id="device-budgets-container">-->
      <!--<h5>Set a budget for each appliance</h5>-->
      <!--<br/>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->