<div class="row-fluid">
  <div class="span6">
    <div class="content" id="budgets-container">
      <div class="well budget-content">
        <h4 class="budget-sensor">Television</h4>
        <form class="budget-amounts form-inline">
          <input class="budget-amount-current input-small disabled" id="amount-current" type="text" disabled="">
          <span class="help-inline">of &nbsp</span>
          <!--<input class="budget-amount-expected input-small" id="amount-expected" type="text">-->

              <div class="input-prepend">
                <span class="add-on">$</span><input class="budget-amount-expected span6" size=4
                                                    id="amount-expected" type="text">
              </div>

        </form>
        <br/><br/>

        <div class="progress progress-success" style="margin-bottom: 1px;">
          <div class="bar" style="width: 40%"></div>
        </div>
        <br/>
        <label class="checkbox">
          <input type="checkbox"><p>Notify me when I exceed my budget</p>
        </label>
      </div>
    </div>
  </div>
</div>