<div class="row-fluid">
  <div class="span9">
    <div class="content" id="budgets-container">

      <h5>Set the total energy budget for <%= Date::MONTHNAMES[Date.today.month] %></h5>
      <br/>

      <div class="well budget-content">
        <h4 class="budget-sensor">Total Usage</h4>

        <form class="budget-amounts form-inline">
          <div class="input-prepend">
            <span class="add-on">$</span><input class="budget-amount-current span7 disabled" size=8
                                                id="amount-current-0" type="text" disabled="">
          </div>
          <span class="help-inline">of &nbsp</span>

          <div class="input-prepend">
            <span class="add-on">$</span><input class="budget-amount-expected span7" size=8
                                                id="amount-expected-0" type="text">
          </div>
        </form>
        <br/><br/>

        <div class="progress progress-success budget-progress" id="percent-progress-0">
          <div class="bar" id="percent-progress-bar-0"></div>
        </div>
        <br/>

        <div class="budget-energy">
          <h6 id="energy-current-0"></h6>
          <h6>&nbsp of &nbsp</h6>
          <h6 id="energy-expected-0"></h6>
        </div>
        <label class="checkbox">
          <input type="checkbox">Notify me when I exceed this budget
        </label>
      </div>

      <hr>

      <div class="row-fluid">
        <div class="span9">
          <h5>Set a budget for each appliance</h5>
          <br/>

          <div class="well budget-content">
            <h4 class="budget-sensor">Computer</h4>

            <form class="budget-amounts form-inline">
              <div class="input-prepend">
                <span class="add-on">$</span><input class="budget-amount-current span7 disabled" size=8
                                                    id="amount-current-1" type="text" disabled="">
              </div>
              <span class="help-inline">of &nbsp</span>

              <div class="input-prepend">
                <span class="add-on">$</span><input class="budget-amount-expected span7" size=8
                                                    id="amount-expected-1" type="text">
              </div>
            </form>
            <br/><br/>

            <div class="progress progress-success budget-progress" id="percent-progress-1">
              <div class="bar" id="percent-progress-bar-1"></div>
            </div>
            <br/>

            <div class="budget-energy">
              <h6 id="energy-current-1"></h6>
              <h6>&nbsp of &nbsp</h6>
              <h6 id="energy-expected-1"></h6>
            </div>
            <label class="checkbox">
              <input type="checkbox">Notify me when I exceed this budget
            </label>
          </div>

          <div class="well budget-content">
            <h4 class="budget-sensor">Microwave</h4>

            <form class="budget-amounts form-inline">
              <div class="input-prepend">
                <span class="add-on">$</span><input class="budget-amount-current span7 disabled" size=8
                                                    id="amount-current-2" type="text" disabled="">
              </div>
              <span class="help-inline">of &nbsp</span>

              <div class="input-prepend">
                <span class="add-on">$</span><input class="budget-amount-expected span7" size=8
                                                    id="amount-expected-2" type="text">
              </div>
            </form>
            <br/><br/>

            <div class="progress progress-success budget-progress" id="percent-progress-2">
              <div class="bar" id="percent-progress-bar-2"></div>
            </div>
            <br/>

            <div class="budget-energy">
              <h6 id="energy-current-2"></h6>
              <h6>&nbsp of &nbsp</h6>
              <h6 id="energy-expected-2"></h6>
            </div>
            <label class="checkbox">
              <input type="checkbox">Notify me when I exceed this budget
            </label>
          </div>

          <div class="well budget-content">
            <h4 class="budget-sensor">Entertainment Center</h4>

            <form class="budget-amounts form-inline">
              <div class="input-prepend">
                <span class="add-on">$</span><input class="budget-amount-current span7 disabled" size=8
                                                    id="amount-current-3" type="text" disabled="">
              </div>
              <span class="help-inline">of &nbsp</span>

              <div class="input-prepend">
                <span class="add-on">$</span><input class="budget-amount-expected span7" size=8
                                                    id="amount-expected-3" type="text">
              </div>
            </form>
            <br/><br/>

            <div class="progress progress-success budget-progress" id="percent-progress-3">
              <div class="bar" id="percent-progress-bar-3"></div>
            </div>
            <br/>

            <div class="budget-energy">
              <h6 id="energy-current-3"></h6>
              <h6>&nbsp of &nbsp</h6>
              <h6 id="energy-expected-3"></h6>
            </div>
            <label class="checkbox">
              <input type="checkbox">Notify me when I exceed this budget
            </label>
          </div>

          <div class="well budget-content">
            <h4 class="budget-sensor">Dishwasher</h4>

            <form class="budget-amounts form-inline">
              <div class="input-prepend">
                <span class="add-on">$</span><input class="budget-amount-current span7 disabled" size=8
                                                    id="amount-current-4" type="text" disabled="">
              </div>
              <span class="help-inline">of &nbsp</span>

              <div class="input-prepend">
                <span class="add-on">$</span><input class="budget-amount-expected span7" size=8
                                                    id="amount-expected-4" type="text">
              </div>
            </form>
            <br/><br/>

            <div class="progress progress-success budget-progress" id="percent-progress-4">
              <div class="bar" id="percent-progress-bar-4"></div>
            </div>
            <br/>

            <div class="budget-energy">
              <h6 id="energy-current-4"></h6>
              <h6>&nbsp of &nbsp</h6>
              <h6 id="energy-expected-4"></h6>
            </div>
            <label class="checkbox">
              <input type="checkbox">Notify me when I exceed this budget
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>