<div id="sensor-content" class="row-fluid">
  <div class="span6">
     <div id="sensors-container-1">
     </div>
  </div>
  <div class="span6">
     <div id="sensors-container-2">
     </div>
  </div>
</div>

<%= render "schedules" %>
