<div class="row-fluid">
  <div class="span3">
    <%= render 'device_list' %>
  </div>
  <div class="span9">
    <div class="content" id= "weekly-usage-chart-container">
      <div id= "weekly-usage-chart"></div>
    </div>
  </div>
</div>
