<div class="row-fluid">
  <div class="span9">
    <div class="content" id= "usage-summary-container">
      <div class="ui-widget ui-widget-content">
        <%= render 'usage_summary' %>
      </div>
    </div>
    <div class="content" id= "7day-usage-chart-container">
      <div id= "7day-usage-chart"></div>
    </div>
  </div>
  <div class="span3">
    <div class="content" id="sensor-list-container"></div>
  </div>
</div>
