<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item center"><%= image_tag("/assets/hands_holding_light_bulbs.jpg", :alt => "", :class => "center") %></div>
    <div class="item center"><%= image_tag("/assets/polar_bear_on_floating_ice.jpg", :alt => "", :class => "center") %></div>
    <div class="item center"><%= image_tag("/assets/plug.jpg", :alt => "", :class => "center") %></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<!-- Example row of columns -->
<div class="row-fluid">
  <div class="span4">
    <h3>How does it work?</h3>

    <p> PolarMeter is a set of wireless sensors that go between your appliances
    and power outlets. These sensors track your power usage and report it back to
    the PolarMeter servers through an intermediate wireless hub located in
    your home. Armed with this data, you can make informed decisions that will
    lower your power bill and help the environment.
    </p>

    <p><a class="btn" href="#">View Details »</a></p>
  </div>
  <div class="span4">
    <h3>Vision</h3>

    <p> We believe that one's home can be both intelligent and
    environmentally-friendly. We believe one shouldn't have to choose between convenience
    and leaving an indelible mark on the planet. By leveraging the latest
    advances in technology, PolarMeter strives to turn the home into a partner
    for both the owner and the environment.
    </p>

    <p><a class="btn" href="#">About us »</a></p>
  </div>
  <div class="span4">
    <h3>Green Button Data</h3>

    <p> PolarMeter partners with the Green Button initiative to provide
    users with the full overview of their energy usage, enabling educated and
    environmentally-friendly choices in their homes. The U.S. Department of
    Energy believes that one should have the right to see one's power usage
    data. So do we.
    </p>

    <p><a class="btn" href="http://www.greenbuttondata.org/">Go to website »</a></p>
  </div>
</div>
