<!-- Main hero unit for a primary marketing message or call to action -->
<!--<div class="hero-unit well">-->
  <!--<h2>PolarMeter helps you manage your energy consumption</h2>-->

  <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris-->
      <!--condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec-->
      <!--sed odio dui. </p>-->

  <!--<p><a class="btn btn-primary btn-large">Get started »</a></p>-->
<!--</div>-->
<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item center"><%= image_tag("/assets/hands_holding_light_bulbs.jpg", :alt => "", :class => "center") %></div>
    <div class="item center"><%= image_tag("/assets/polar_bear_on_floating_ice.jpg", :alt => "", :class => "center") %></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<!-- Example row of columns -->
<div class="row-fluid">
  <div class="span4">
    <h3>How it works?</h3>

    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
      condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
      sed odio dui. </p>

    <p><a class="btn" href="#">View Details »</a></p>
  </div>
  <div class="span4">
    <h3>Vision</h3>

    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
      condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
      sed odio dui. </p>

    <p><a class="btn" href="about">About us »</a></p>
  </div>
  <div class="span4">
    <h3>Green Button Data</h3>

    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis
      euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
      sit amet risus.</p>

    <p><a class="btn" href="http://www.greenbuttondata.org/">Go to website »</a></p>
  </div>
</div>
