<div class="row">
  <div class="span2"></div>
  <div class="span8 offset2 well">
    <h5>Add New Sensor</h5>
    <br />

    <%= render 'form' %>

    <%= link_to 'Back', sensors_path %>
  </div>
  <div class="span2"></div>
</div>
