/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

#main-content-container  { min-height:450px;} * html #sensor-list-container { height:450px; }

#sign-in-container {
 padding: 50px 80px;
}

.center {
  margin-left:auto;
  margin-right:auto;
}

.ui-widget-header-text {
 margin: 0.3em; padding: 4px;
}

// going to place this here for now, not sure where it should actually go
.attention-tab {
  background-color:#ff0000;
  color:#ffffff;
}

// ---------------------------------------------------------------------------
// Sensor new page
// ---------------------------------------------------------------------------
// #main-content-container {
//   margin-left: 30%;
//   margin-right: auto;
// }

// Shrinks input textbox for sensor mac address
form div #sensor_mac_address_prefix {
  width: 11ex;
}

form div #sensor_mac_address {
  width: 7ex;
}
