.budget-content {
   padding: 20px;
}

.budget-sensor {
  float:left;
}

.budget-notify {
  float:left;
}

.budget-amounts {
  float:right;
}

.budget-amount-expected {
  font-size: 15px;
  font-weight: bold;
  color: #57A957;
  text-align:left;
}

.budget-amount-current {
  font-size: 15px;
  font-weight: bold;
  color: #57A957;
  text-align:left;
}

.budget-energy {
  float:right;
}

.budget-energy h6 {
  display:inline-block;
}

.budget-progress{
  margin-bottom: 1px;
}