#sensor-list-container  { min-height:500px;} * html #sensor-list-container { height:500px; }
#7day-usage-chart-container  { min-height:500px; } * html #7day-usage-chart-container { height:500px; }

.portlet { margin-bottom: 5px; padding-bottom: 5px; }
.portlet-header { margin: 0.3em; padding: 4px; }
.portlet-header .ui-icon { float: right; }
.portlet-content { padding: 0.4em; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }

#usage-info {
    padding: 0.4em;
}

#usage-totals {
    margin: 10px;
    margin-right:30px;
    padding: 10px;
    width: 150px;
    height: 75px;
    float: right;
    text-align: center;
}